cms_encoding/build
.DS_Store
.idea/
server/.DS_Store
server/.idea/
server/vendor/
streamer/.DS_Store
streamer/.idea/
streamer/vendor/
streamer/.env
gui/.env
gui/package-lock.json
node_modules
out/
server/test.db
.env
